span {
  font-weight: bold;
}
.card-div {
  background-color: #b4d6c1;
  border-radius: 20px;
  margin: 10px 20px;
  height: 650px;
  position: relative;
  box-shadow: 5px 5px 5px #a6a6a6;
}
.btn-update {
  text-decoration: none;
  border: none;
  color: azure;
  background-color: #063945;
  border-radius: 10px;
  border: 2px solid #063945;

  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.btn-update:hover {
  color: #063945;
  background-color: white;
  border: 3px solid #063945;
}
